*{ 

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    font-family: 'varela', sans-serif;
}
header{
    font-size: 40px;
    display: flex;
    justify-content: start;
  
 
}

.mainpage{
    display: flex;
   justify-content: center;
    flex-wrap: wrap;
    height: 90vh;
    width: 100vw;
}
.hero{
    background-image: url(../css/portfolio-image-pink.png);
    display:flex;
    
    background-size: cover;
     width:95%;
    
     background-position:center;
    
     overflow: hidden;
}
.nav{
    font-size: 25px;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
}
    


    

a{
    color: black;
}
a:hover{
    background: #cb13a6;
    border-radius: 50%;

}

/* secondary styles */

.secondary{
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    z-index: 5555;
}

/* MyWork Gallery*/

.flexgallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: auto;
    height: 90%;
    width: 80%;
    padding-top: 25px;
    
}
.flexgallery div{
    margin:3px
} 
.flexgallery img{
    border-radius:50%;
    filter: grayscale(100%);
}
.flexgallery img:hover{
    filter: unset;
}
.flexgallery div p{
    background-color: rgb(203, 19, 166,0.5);
    border-radius: 50%;
    margin-bottom: 10px;
    text-align: center;
    
}
.gallery1{
    margin:3px
   

    
}
.gallery1 img{
    max-width:500px;
    max-height: 500px;
   
}
.gallery2{
    
   
   
}
.gallery2 img{
    max-width:300px;
    max-width:300px;
    
}
.gallery3{
    
    
    

}
.gallery3 img{
    max-width: 300px;
    max-height: 200px;
   
}
.gallery4{
    size:25%;
    
}
.gallery4 img{
    max-width:300px;
    max-height: 200px;
   
}
.gallery5{
    size:25%;
    
}
.gallery5 img{
    max-width: 300px;
    max-height: 200px;
}   
.gallery6{
    size: 25%;
    
}
.gallery6 img{
    max-width: 300px;
    max-height: 200px;
}
/*end gallery*/
 /*contact*/
 .contact-container{
    text-align: center;
    margin:8vw 5vw;
    padding:20vw 30vw 20vw 30vw;
    font-size: 30px;
    transform:rotate(-30deg);
    background: rgb(203, 19, 166,0.5);
    border-radius: 80%;
    display:flex;
    flex-direction: column;


    
 }
 /*about section*/
 .about-me{
     display: flex;
     justify-content: center;
     align-content: center;
     flex-direction: column;
     margin-top: 9vw;
     background-color:rgb(203, 19, 166,0.5);
     border-radius: 50%;
     flex-wrap: wrap;

 }
 
 .about-me p{
     text-align: center;
 }
 .about-me img{
     object-fit:contain;
     height: 50%;
     width: 50%;
     border-radius: 50%;
     filter: grayscale(100%);
     
 }
 .about-me img:hover{
     filter: unset;
 }
 span{
     color: white;
 }
/*for smaller screens*/
@media only screen and (max-width:930px)
 {
    .header{
        justify-content: center;
        font-size: small;
    }
    .nav{
        writing-mode: horizontal-tb;
        text-orientation: upright;
       
    }
    .contact-container{
        align-items: center;
    }
    .contact-container a{
        font-size: 20px;
    }
}
@media only screen and (max-width:500px) 
{
    .header{
        justify-content: center;
        font-size: 20vw;
    }
    .nav{
        writing-mode: horizontal-tb;
        text-orientation: upright;
        
    }
    .contact-container{
        transform:rotate(0deg);
        align-items:center ;
    
        font-size:16px;


        

    }
    .about-me p{
        font-size: x-large;
       

    
    }
    .about-me{
        border-radius: 20%;
        flex-wrap: wrap;
        flex-direction: row;
        padding-bottom: 4vw;
       
    }
    
}
@media only screen and (max-height:414px){
    .nav{
        writing-mode: horizontal-tb;
        text-orientation: upright;
        
    }

}