@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@367&display=swap');

$pinkthemecolor:#cb13a669;
$themefont:'Comfortaa', cursive;


//universal
$link:$pinkthemecolor;
$navbar-item-hover-color:$pinkthemecolor;
$button-focus-border-color:$pinkthemecolor;
$button-focus-box-shadow-color:$pinkthemecolor;
.whole-page{
    font-family: $themefont;
}
//main 
.mainpage{
    display: flex;
   justify-content: center;
    flex-wrap: wrap;
    height: 90vh;
    width: 100vw;
}
.component{
    width:95%
}

//header styles
header{
    font-size: 40px;
    display: flex;
    justify-content: start;
    
  
 
}

//nav styles
.navbar-burger{
    background-color:$pinkthemecolor;
    border-bottom-right-radius:50% ;
    border-bottom-left-radius:50% ;
}
.navbar-menu{
    font-size: 25px;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    
}
.navbar-menu:hover {
    color:$pinkthemecolor;
}

//Animated background
.hero{
    background-image: url(./assets/portfolio-image-pink.png);
    display:flex;
    
    background-size: cover;
     width:95%;
    
     background-position:center;
    
     overflow: hidden;
}

@keyframes animatedBackground {
    from {background-position: 0 0;}
    to { background-position: 200%;}
}

#animatedBack{
    
    background-position: 0px 0px;
    background-repeat: repeat-x;

    animation: animatedBackground 60s linear

}

//Work styles
.gallery-image{
    width:100%;
    background-size: cover;
}
.work-description{
    margin-top: 35%;
    padding-left: 5%;
    margin-right:20%;
    margin-bottom: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
   
    display:none;
}

.gallery-image:hover .work-description{
    display:inherit;
    background-color: rgba(255, 255, 255, 0.849);
    align-content: column;
   
}

.work-1{
    background-image: url(./assets/pen-name.png) ;
}

.work-2{
    background-image: url(./assets/scatterbrain.png) ;
}

.work-3{
    background-image: url(./assets/paper-locator.png) ;
}

.work-4{
    background-image: url(./assets/IRISscreenshot.png) ;
}

.work-5{
    background-image: url(./assets/git-it-done.png) ;
}

.work-6{
    background-image: url(./assets/runbuddy.png) ;
}





//media queries
@media only screen and (max-width:930px)
 {
    .header{
        justify-content: center;
        font-size: small;
    }
    .navbar-menu{
        writing-mode: horizontal-tb;
        text-orientation: upright;
        display: flex;
        justify-content: space-around;
        top: 0;
        right: 0;
        position: relative;
        
    }
 }   
@media only screen and (max-width:500px) 
{
    .header{
        justify-content: center;
        font-size: 20vw;
    }
    .navbar-menu{
        writing-mode: horizontal-tb;
        text-orientation: upright;
        display: flex;
        justify-content: space-around;
        align-content: space-between;
        top: 0;
        right: 0;
        position: relative;
        
    }
    

    
}
@media only screen and (max-height:414px)
{
    .navbar-menu{
        writing-mode: horizontal-tb;
        text-orientation: upright;
        display: flex;
        justify-content: space-around;
        top: 0;
        right: 0;
        position: relative;
        
    
    }
   
  
}






@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";